body {
      font-family: Arial, sans-serif;
      background: #717377;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 25px;
    }

    .todo-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      gap: 15px;
    }

    .todo-card {
      padding: 15px;
      border-radius: 10px;
      color: #fff;
      box-shadow: 0 5px 12px rgba(0,0,0,0.15);
      height: 150px;
      
    }

    .completed {
      background: #2ecc71;   
    }

    .pending {
      background: #e74c3c;  
    }

    .title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .status {
      font-size: 13px;
      padding: 4px 10px;
      border-radius: 15px;
      background: rgba(255,255,255,0.2);
      display: inline-block;
    }